<div class="recuadro" id="acerca">
<h1>Acerca de Nosotros</h1>
<p><b>ahiteveo.com</b> es un producto de la empresa <a href="http://sie.com" target="_blank">SIE</a> y nace a partir de la idea de crear nuevos hábitos a la hora de comprar para nuestros usuarios y a la vez, innovadores canales de mercadeo para los proveedores.</p>

<p>Actualmente el Internet es el medio informativo y comercial más utilizado para relacionarlo a Usted  con sus clientes y ahiteveo.com puede ayudarle en esta tarea.</p>

<p>Creemos en una relación de largo plazo cliente-proveedor basada en servicios de calidad.</p>

</div>
<div class="recuadro" id="quienes"">
<h3>Quienes Somos</h3>

<p><a href="http://sie.com" target="_blank">SIE</a> es una agencia que brinda un servicio completo de Marketing y Publicidad en Bolivia y especializados en Marketing En-Línea y posicionamiento de Sitios Web (SEO) a nivel mundial. Actualmente tenemos nuestras oficinas con base en Potosi, Bolivia.</p>
<p>Somos creadores de Empresas y Marcas. No solo la de nuestros clientes, sino también las nuestras. Soluciones Inteligentes Empresariales (SIE) es dueño de diferentes páginas web al servicio de la comunidad como: <a href="http://www.ahiteveo.com" target="_blank">ahiteveo.com </a>y <a href="http://www.sie.com" target="_blank">solinteempre.com</a>. Nos encanta lo que hacemos!</p>
<p>Nuestros trabajos empiezan desde la creación de su marca, pasando por el diseño de su empresa, el marketing estratégico y llegando hasta el éxito de su empresa.</p>
<p>Cumplimos las metas de nuestros clientes de forma efectiva gracias a nuestra pasión y energía reflejada en nuestros trabajos.</p>

</div>
<div class="recuadro" id="objetivo">
            <h3>Objetivo</h3>
            
            <p>Nuestro objetivo es  recopilar en un solo sitio Web la mayor cantidad de cupones, ofertas y descuentos alrededor del país de los diferentes productos y servicios. También brindarles  a nuestros usuarios información que le será de utilidad para el momento de comprar y ahorrar.</p>
</div>
<div class="recuadro" id="ofrecemos">
  <h3>Lo Que Ofrecemos</h3>
            
<p>            Acceso totalmente gratis a miles de usuarios alrededor del País a ofertas, cupones y descuentos a un sin fin de productos y servicios de nuestros clientes.</p>
<p>A nuestros clientes les ofrecemos un servicio de primera. No importa el tamaño de su negocio, Ahiteveo.com tiene diferentes planes para toda clase de empresas.</p>
</div>
  <div class="recuadro" id="mision">
          <h3>Misión</h3>
            
           <p>Ser la ventana publicitaria para toda clase de empresas alrededor del país que busquen incrementar sus ventas y crear una relación con sus clientes.</p>
  </div>
    <div class="recuadro" id="vision">
			<h3>Visión</h3>

        <p> Construir relaciones duraderas con nuestros clientes que se traduzcan en reales aportes al desarrollo de sus proyectos comerciales.</p>
</div>
<div class="recuadro" id=filosofia>
            <h3>Nuestra Filosofía</h3>
            
            <p>Nuestra filosofía es ser emprendedores, constantes  y brindar un gran servicio a nuestros usuarios y clientes.<br /></p>
</div>
<br /><br />
<br />
<br />

<div  id="frase">
          “Permítanos convertirnos en su aliado y ser parte de su éxito comercial.
</div>
