<h1>Acerca de Nosotros</h1>
<b>ahiteveo.com</b> es un producto de la empresa <a href="http://www.grupo20.com" target="_blank">iDeveloperSystem</a> y nace a partir de la idea de crear nuevos hábitos a la hora de comprar para nuestros usuarios y a la vez, innovadores canales de mercadeo para los proveedores.<br />
<br />

Actualmente el Internet es el medio informativo y comercial más utilizado para relacionarlo a Usted  con sus clientes y ahiteveo.com puede ayudarle en esta tarea. 
<br />
<br />

Creemos en una relación de largo plazo cliente-proveedor basada en servicios de calidad. 
<br />
<br />

<br />
<h3><u>Quienes Somos</u></h3>

<p><a href="http://iDeveloperSystem.com" target="_blank">iDeveloperSystem</a> es una agencia que brinda un servicio completo de Marketing y Publicidad en Bolivia y especializados en Marketing En-Línea y posicionamiento de Sitios Web (SEO) a nivel mundial. Actualmente tenemos nuestras oficinas con base en Potosi, Bolivia.</p>
<p>Somos creadores de Empresas y Marcas. No solo la de nuestros clientes, sino también las nuestras. iDeveloperSystem es dueño de diferentes páginas web al servicio de la comunidad como: <a href="http://www.canes.com.bo" target="_blank">canes.com</a>, <a href="http://www.ahiteveo.com" target="_blank">ahiteveo.com </a>y <a href="http://www.ecuentraempleo.com" target="_blank">encuentraempleo.com</a>. Nos encanta lo que hacemos!</p>
<p>Nuestros trabajos empiezan desde la creación de su marca, pasando por el diseño de su empresa, el marketing estratégico y llegando hasta el éxito de su empresa.</p>
<p>Cumplimos las metas de nuestros clientes de forma efectiva gracias a nuestra pasión y energía reflejada en nuestros trabajos.</p>


<table border="0" cellpadding="0" cellspacing="0">
	<tr>
    	<td>
            <h3><u>Objetivo</u></h3>
            
            Nuestro objetivo con Cuponera.com.bo es  recopilar en un solo sitio Web la mayor cantidad de cupones, ofertas y descuentos alrededor del país de los diferentes productos y servicios. También brindarles  a nuestros usuarios información que le será de utilidad para el momento de comprar y ahorrar.   
        </td>
        <td width="35"></td>
        <td>
			<h3><u>Lo Que Ofrecemos</u></h3>
            
            Acceso totalmente gratis a miles de usuarios alrededor del País a ofertas, cupones y descuentos a un sin fin de productos y servicios de nuestros clientes. 
A nuestros clientes les ofrecemos un servicio de primera. No importa el tamaño de su negocio, Cuponera.com.bo tiene diferentes planes para toda clase de empresas.
       
        </td>
    </tr>
	<tr><td colspan="3" height="20"></td></tr>
	<tr>
    	<td>
            <h3><u>Misión</u></h3>
            
            Ser la ventana publicitaria para toda clase de empresas alrededor del país que busquen incrementar sus ventas y crear una relación con sus clientes.  
        </td>
        <td></td>
        <td>
			<h3><u>Visión</u></h3>
            
            Construir relaciones duraderas con nuestros clientes que se traduzcan en reales aportes al desarrollo de sus proyectos comerciales.
       
        </td>
    </tr>
	<tr><td colspan="3" height="20"></td></tr>
	<tr>
    	<td colspan="3">
            <h3><u>Nuestra Filosofía</u></h3>
            
            Nuestra filosofía es ser emprendedores, constantes  y brindar un gran servicio a nuestros usuarios y clientes.<br />
<br /><br />
<br />
<br />

<div style="font-size:14px;color:#666666;text-align:center">“Permítanos convertirnos en su aliado y ser parte de su éxito comercial.”<br />
<br />
