<h1> Acuerdo de servicio de Microsoft</h1>
<div class="sectionBottom" id="S03">
    <div id="ctl00_FormlessContentPlaceholder_ContentPlaceholder_C03" class="containerFullWidth">
        <div class="contentContainer" MS.ExId="render" MS.CId="522004" MS.CVer="10">
            <div class="topic_body_full contentPiece">
                <div class="section sectionNormal">
                    <div class="">
                        <p class="para">
                            Actualizado el 1 de agosto de 2010
                            <br/>
                            En vigor desde el 31 de agosto de 2010
                        </p>
                        <p class="para">
                            ¡Gracias por elegir <span class="notLocalizable">Microsoft</span>!
                        </p>
                        <p class="para">
                            Lea este acuerdo detenidamente. Se trata de un contrato que regula el uso que usted hace de los servicios o el software de <span class="notLocalizable">Windows Live</span>, <span class="notLocalizable">Bing</span>, <span class="notLocalizable">MSN</span>, <span class="notLocalizable">Microsoft</span>
                            Office Live u Office.com, o de otros servicios o software de <span class="notLocalizable">Microsoft</span>
                            que se muestran o están vinculados directamente a este acuerdo (el "servicio"). Al usar o tener acceso al servicio, confirma que acepta estos términos. Si no los acepta, no utilice el servicio. ¡Gracias!
                        </p>
                    </div>
                </div>
                <div class="section sectionNormal">
                    <h2 class="title_section">1. Ámbito de cobertura del contrato</h2>
                    <div class="">
                        <p class="para">
                            Este contrato es entre usted y la compañía <span class="notLocalizable">Microsoft</span>
                            que se indica en la cláusula 13 ("<span class="notLocalizable">Microsoft</span>", "nosotros", "nos" o "nuestro") con relación al uso del servicio que <span class="notLocalizable">Microsoft</span>
                            proporciona. Las cláusulas de la 1 a la 13 se aplican al servicio. Las cláusulas 14 y 15 solo se aplican si el servicio implica pagos a <span class="notLocalizable">Microsoft</span>
                            o cobros de Microsoft. Las cláusulas de la 16 a la 20 solo se aplican si usa el software o los servicios identificados en esas cláusulas. Es posible que algunos de estos servicios no estén disponibles por completo en su país o región.
                        </p>
                        <p class="para">
                            <span class="ui">Tenga en cuenta que el servicio se proporciona con exclusiones de garantías adicionales y limitaciones de responsabilidad. Consulte las cláusulas 9 y 10 para obtener más información.</span>
                        </p>
                        <p class="para">
                            <span class="ui">Usted tiene derecho a cancelar este contrato en cualquier momento y por cualquier motivo. Consulte la cláusula 11 para obtener más información.</span>
                        </p>
                    </div>
                </div>
                <div class="section sectionNormal">
                    <h2 class="title_section">2. Uso del servicio</h2>
                    <div class="">
                        <p class="para">
                            Al utilizar el servicio, deberá cumplir este contrato, toda la legislación aplicable y la <a href="http://go.microsoft.com/fwlink/?LinkId=117951" class="navigationLink" data-id="pageContainer3_ID0EDD0HB0BBA">Directiva contra correo electrónico no deseado de <span class="notLocalizable">Microsoft</span></a>
                            (http://go.microsoft.com/fwlink/?LinkId=117951). Si procede, también debe atenerse al <a href="http://g.live.com/0ELHP_MEREN/243" class="navigationLink" data-id="pageContainer3_ID0EBD0HB0BBA">código de conducta</a>
                            (http://g.live.com/0ELHP_MEREN/243).
                        </p>
                        <p class="para">
                            No debe usar el servicio para dañar a otras personas o al servicio. Por ejemplo, no debe utilizar el servicio para dañar, amenazar o acosar a otra persona, organización o <span class="ui">Microsoft</span>. No debe: dañar, deshabilitar, sobrecargar o dificultar el servicio (o cualquier red conectada al servicio); revender o redistribuir el servicio o parte de éste; utilizar cualquier medio no autorizado para modificar, redireccionar u obtener acceso al servicio o intentar llevar a cabo estas actividades; o usar cualquier proceso o servicio automático (como un bot, un spider, el almacenamiento periódico en caché de la información almacenada por <span class="ui">Microsoft</span>
                            o la metabúsqueda) para obtener acceso al servicio o utilizarlo. Puede obtener acceso a sitios web o servicios de terceros a través del servicio; y reconoce que no somos responsables de dichos sitios web o servicios ni del contenido que pueda estar disponible en ellos.
                        </p>
                    </div>
                </div>
                <div class="section sectionNormal">
                    <h2 class="title_section">3. <span class="notLocalizable">Windows Live</span> ID (también denominado “cuenta Microsoft”)</h2>
                    <div class="">
                        <p class="para">
                            Microsoft puede proporcionarle credenciales para la red de autenticación de <span class="notLocalizable">Windows Live</span>
                            ID para su uso con el servicio. Usted será el único responsable de las transacciones que efectúe con terceros (incluidos los anunciantes) que utilizan la red, lo que incluye cualquier cuestión relativa a la entrega y el pago de productos. Este contrato será aplicable cuando utilice su <span class="notLocalizable">Windows Live</span>
                            ID. Cuando usted use <span class="notLocalizable">Windows Live</span>
                            ID para obtener acceso a cualquier sitio web (ya se ocupe de su control o publicación Microsoft o un tercero), también podrán ser de aplicación los términos y condiciones de dicho sitio web, en caso de que sean distintos de los contenidos en este contrato.
                        </p>
                    </div>
                </div>
                <div class="section sectionNormal">
                    <h2 class="title_section">4. Su cuenta de servicio, cuentas asociadas y cuentas de terceros</h2>
                    <div class="">
                        <p class="para">
                            Solo usted está autorizado a usar su cuenta de servicio. Debe mantener sus cuentas y contraseñas confidenciales, y no debe autorizar el acceso o uso del servicio por parte de terceros en su nombre, excepto en el caso de que le proporcionemos un mecanismo aprobado para tal fin. Si sospecha que se está haciendo un uso no adecuado de sus cuentas o que se ha producido una infracción de seguridad en el servicio, debe ponerse en contacto con nosotros tal como se indica en el <a href="http://windowslivehelp.com/solution.aspx?solutionid=6ea0c7b3-1473-4176-b03f-145b951dcb41" class="navigationLink" data-id="pageContainer3_ID0EBF0DB0BBA">Centro de soluciones de <span class="notLocalizable">Windows Live</span></a>
                            (http://windowslivehelp.com/solution.aspx?solutionid=6ea0c7b3-1473-4176-b03f-145b951dcb41). Para determinados componentes del servicio, puede configurar cuentas adicionales dependientes de su cuenta ("cuentas asociadas"). Usted es responsable de todas las actividades que se realicen con su cuenta de servicio y con cualquiera de las cuentas asociadas.
                        </p>
                        <p class="para">
                            Si utiliza una cuenta asociada, reconoce que el titular de la cuenta de servicio tiene control total sobre su cuenta asociada. Si un tercero, como un proveedor de acceso a Internet, un empleador o una escuela, le concedió su cuenta, dicho tercero tendrá derechos en su cuenta y podrá: administrar su cuenta, restablecer su contraseña, o bien, suspender o cancelar su cuenta; ver los datos de perfil y uso de su cuenta, incluido el modo y la frecuencia de uso de su cuenta; así como leer o almacenar contenido en su cuenta, incluidas las comunicaciones electrónicas, las listas de contactos y otra información.
                        </p>
                        <p class="para">
                            Si usa el software <span class="notLocalizable">Windows Live</span>
                            Protección infantil para supervisar las cuentas de su equipo, usted declara y garantiza que está autorizado para aceptar este contrato en nombre de las personas que utilicen esas cuentas.
                        </p>
                    </div>
                </div>
                <div class="section sectionNormal">
                    <h2 class="title_section">5. Su contenido</h2>
                    <div class="">
                        <p class="para">
                            Microsoft no reclama la propiedad del contenido que usted proporcione en el servicio, excepto de aquél cuya licencia le haya concedido. El contenido seguirá siendo de su propiedad. Microsoft tampoco controla, comprueba ni aprueba el contenido que usted y otros usuarios pongan a disposición en el servicio.
                        </p>
                        <p class="para">
                            Usted controla las personas que pueden tener acceso a su contenido. Si comparte contenido en áreas públicas del servicio o en áreas compartidas que estén disponibles para otros usuarios que haya elegido, acepta que otros usuarios con los que haya compartido ese contenido podrían utilizarlo. Cuando concede a otros usuarios acceso a su contenido en el servicio, les otorga un permiso libre y no exclusivo para usar, reproducir, distribuir, mostrar, transmitir y comunicar al público el contenido, únicamente con relación al servicio y a otros productos y servicios que <span class="ui">Microsoft</span>
                            pone a su disposición. Si no desea que otros usuarios tengan esos derechos, no utilice el servicio para compartir contenido.
                        </p>
                        <p class="para">
                            Usted entiende que <span class="ui">Microsoft</span>
                            puede necesitar usar, modificar, adaptar, reproducir, distribuir y mostrar contenido publicado en el servicio exclusivamente hasta el límite necesario para prestar el servicio, y por la presente concede a <span class="ui">Microsoft</span>
                            estos derechos.
                        </p>
                        <p class="para">
                            Le rogamos que respete los derechos de artistas, inventores y creadores. Es posible que el contenido esté protegido por derechos de propiedad intelectual. Las personas que aparezcan en el contenido pueden tener derecho a controlar el uso de su imagen. Si comparte contenido en el servicio de forma que infrinja los derechos de autor y otros derechos de propiedad intelectual de otros usuarios, o los derechos de privacidad, estará incumpliendo el presente contrato. Usted garantiza que cuenta con todos los derechos necesarios para poder conceder los derechos de esta cláusula, así como que el uso del contenido no infringe ninguna ley. Asimismo, acepta que ha obtenido el consentimiento de cualquier tercero para usar sus datos personales, si estos se incluyen en dicho contenido, y que cumplirá la legislación de protección de datos al hacerlo. Microsoft no le ofrecerá pago alguno por su contenido. Podemos rechazar publicar su contenido por cualquier motivo o sin motivo alguno. Podemos quitar su contenido del servicio en cualquier momento si supone un incumplimiento del presente contrato o si cancelamos o suspendemos el servicio.
                        </p>
                        <p class="para">
                            <span class="ui">Usted es responsable de hacer una copia de seguridad de los datos que almacene en el servicio. Si el servicio se suspende o cancela, podemos eliminar sus datos de nuestros servidores de forma permanente. No estamos obligados de ninguna forma a devolverle los datos después de que el servicio se suspenda o cancele. Si los datos se almacenan con una fecha de expiración, también podemos eliminarlos a partir de esa fecha. Los datos eliminados no se pueden recuperar.</span>
                        </p>
                    </div>
                </div>
                <div class="section sectionNormal">
                    <h2 class="title_section">6. Privacidad</h2>
                    <div class="">
                        <p class="para">
                            La compañía recopilará cierta información sobre usted necesaria para el funcionamiento y la prestación del servicio. Como parte del servicio, también podemos cargar automáticamente información sobre su equipo, el uso que hace del servicio y el rendimiento del servicio. Esta información se utilizará y protegerá del modo descrito en la <a href="http://go.microsoft.com/fwlink/?LinkId=74170" class="navigationLink" data-id="pageContainer3_ID0EFD6BBA">Declaración de privacidad en línea de <span class="notLocalizable">Microsoft</span></a>
                            (http://go.microsoft.com/fwlink/?LinkId=74170). En concreto, podemos obtener acceso a información sobre usted o divulgarla, incluido el contenido de sus comunicaciones, a fin de: (a) cumplir con la ley o responder a solicitudes o procesos legales; (b) proteger los derechos de propiedad de <span class="notLocalizable">Microsoft</span>
                            o nuestros clientes, lo que incluye el cumplimiento de los acuerdos o directivas que rigen su uso de nuestro servicio; o (c) actuar con el convencimiento de buena fe de que dicho acceso o divulgación es necesario para proteger la seguridad personal de los empleados o clientes de <span class="ui">Microsoft</span>
                            u otras personas.
                        </p>
                        <p class="para">
                            El servicio consiste en una red informática privada que <span class="notLocalizable">Microsoft</span>
                            explota en su propio beneficio y en el de sus clientes. <span class="notLocalizable">Microsoft</span>
                            se reserva el derecho de bloquear o evitar por cualquier otro medio la entrega de cualquier tipo de correo electrónico u otra comunicación a o desde el servicio como parte de nuestro esfuerzo por proteger el mismo, proteger a nuestros clientes o evitar cualquier infracción de este contrato por su parte. La tecnología u otros medios que se empleen pueden dificultar o impedir su uso del servicio.
                        </p>
                    </div>
                </div>
                <div class="section sectionNormal">
                    <h2 class="title_section">7. Software</h2>
                    <div class="">
                        <p class="para">
                            Si recibe software de Microsoft como parte del servicio, el uso del mismo se regirá de una de las siguientes maneras: si se le presentan términos de la licencia que debe aceptar para usar el software, serán aplicables dichos términos; en caso de que no se le presente ninguna licencia, serán aplicables los términos de este contrato. Microsoft se reserva todos los demás derechos sobre el software.
                        </p>
                        <p class="para">
                            Microsoft podrá comprobar de forma automática la versión del software que usted está utilizando y podrá descargar automáticamente en su equipo actualizaciones de dicho software para actualizar, mejorar y desarrollar ulteriormente el servicio.
                        </p>
                        <p class="para">
                            Todo el software proporcionado se hace bajo licencia, no se vende. Salvo cuando especifiquemos lo contrario, la licencia del software terminará al finalizar el servicio. En ese momento, deberá desinstalar el software; en caso contrario, se lo podemos deshabilitar. No debe aportar ninguna solución alternativa a las limitaciones técnicas del software. No está autorizado a desensamblar, descompilar ni utilizar técnicas de ingeniería inversa en el software incluido en el servicio, excepto y únicamente en la medida en que la ley aplicable sobre derechos de propiedad intelectual le permita expresamente hacerlo.
                        </p>
                        <p class="para">
                            El software está sujeto a las leyes y reglamentos sobre exportación aplicables de Estados Unidos. Debe cumplir con todas las leyes y reglamentos nacionales e internacionales sobre exportación aplicables al software. Estas leyes incluyen restricciones sobre destinos, usuarios finales y uso final. Entre otras, se prohíbe transferir el software o servicio, sin contar con el permiso pertinente del gobierno de los EE. UU., a los miembros de las listas de exclusión de dicho gobierno (consulte las <a href="http://www.bis.doc.gov/complianceandenforcement/liststocheck.htm" class="navigationLink" data-id="pageContainer3_ID0EDH4BBA">Listas que se deben comprobar</a>
                            del Departamento de Comercio); a los gobiernos de Irán, Sudán o Cuba; o a los miembros prohibidos del Partido Comunista de Cuba. Usted declara que no figura en ninguna de tales listas, que no está controlado por ninguno de sus integrantes ni por ninguna de las entidades anteriores, y que no es un agente de estos. Para obtener más información, consulte el sitio web de <a href="http://www.microsoft.com/exporting" class="navigationLink" data-id="pageContainer3_ID0EBH4BBA">exportación de productos de <span class="notLocalizable">Microsoft</span></a>
                            (http://www.microsoft.com/exporting).
                        </p>
                        <p class="para">
                            En el caso del software que requiera complementos al software de <span class="notLocalizable">Microsoft</span>
                            <span class="notLocalizable">Windows</span>, como el componente Imaging de <span class="notLocalizable">Windows</span>, puede utilizar una copia de este complemento con cada copia con licencia válida del software identificado para el uso de éste. Si no posee una licencia del software de <span class="notLocalizable">Windows</span>, no puede utilizar el complemento. Los términos de licencia del software de <span class="notLocalizable">Windows</span>
                            se aplican al uso que haga del complemento.
                        </p>
                        <p class="para">
                            Si usa el software con el fin de obtener acceso a contenido que se ha protegido mediante la administración de derechos digitales (DRM) de <span class="notLocalizable">Microsoft</span>, puede que el software solicite automáticamente los derechos de uso de multimedia desde un servidor de derechos en línea y descargue e instale las actualizaciones de DRM con el fin de permitirle reproducir el contenido. Para obtener más información, consulte la información de DRM en la <a href="http://go.microsoft.com/fwlink/?LinkId=178857" class="navigationLink" data-id="pageContainer3_ID0EBD4BBA">Declaración de privacidad de <span class="notLocalizable">Microsoft</span> Silverlight </a>
                            (http://go.microsoft.com/fwlink/?LinkId=178857).
                        </p>
                        <p class="para">
                            Puede mostrar e imprimir contenido con las fuentes instaladas por el servicio, pero no puede realizar copias de las fuentes sin autorización.
                        </p>
                    </div>
                </div>
                <div class="section sectionNormal">
                    <h2 class="title_section">8. Cambios en el contrato por parte de Microsoft</h2>
                    <div class="">
                        <p class="para">
                            <span class="notLocalizable">Microsoft</span>
                            se reserva el derecho de hacer enmiendas al contrato. Se le informará en caso de que se modifique el contrato. Podemos cambiar los términos de este contrato si: (a) es necesario según la legislación aplicable, lo que incluye, sin estar limitado a, un cambio de dicha legislación; (b) es necesario debido a un aviso y/o orden que se basa en la legislación aplicable; (c) nuestras modificaciones no alteran materialmente el equilibrio entre el pago realizado por el servicio y las obligaciones con respecto al servicio que ofrecemos al usuario; (d) es necesario por razones de naturaleza técnica; (e) es necesario para facilitar el funcionamiento del servicio; o (f) los términos se modificarán en beneficio del usuario. Le informaremos del cambio antes de que entre en vigor y le ofreceremos la oportunidad de cancelar el servicio o de aceptar la modificación al menos 30 días antes de que el mismo entre en vigor.
                        </p>
                    </div>
                </div>
                <div class="section sectionNormal">
                    <h2 class="title_section">9. EXCLUSIÓN DE GARANTÍAS</h2>
                    <div class="">
                        <p class="para">
                            <span class="ui">Microsoft ofrece este servicio "tal cual", "con todos los defectos" y "como está disponible". Microsoft no puede garantizar la exactitud o la oportunidad de la información que pueda facilitar el servicio. Usted reconoce y acepta que los sistemas informáticos y de telecomunicaciones no están exentos de defectos y que se pueden producir ocasionalmente períodos de inactividad. No podemos garantizar que el servicio no sufrirá ninguna interrupción, de forma oportuna y segura, que esté libre de errores o que no vaya a ocurrir una pérdida de datos. No realizamos promesa alguna con relación al servicio. Usted puede tener determinados derechos en virtud de la legislación local. Ninguna cláusula ni contenido de este contrato pretende afectar esos derechos en caso de ser aplicable.</span>
                        </p>
                    </div>
                </div>
                <div class="section sectionNormal">
                    <h2 class="title_section">10. LIMITACIÓN DE RESPONSABILIDAD</h2>
                    <div class="">
                        <p class="para">
                            <span class="ui">La indemnización que usted puede obtener de <span class="notLocalizable">Microsoft</span> y de nuestras filiales, revendedores, distribuidores y proveedores solo cubre los daños razonablemente previsibles y con una cantidad limitada a la cuota del servicio correspondiente a un mes. Las pérdidas se consideran previsibles si, tanto usted como nosotros, podemos contemplarlas en el momento de la entrada en vigor del acuerdo. Usted no tendrá derecho a recibir indemnización alguna por ningún otro daño, incluidos el lucro cesante o los daños especiales, indirectos, consecuenciales, incidentales o punitivos. </span>
                        </p>
                        <p class="para">
                            En la máxima medida permitida por la legislación, las limitaciones y exclusiones se aplican a cualquier aspecto relacionado con este contrato, por ejemplo:
                        </p>
                        <ul class="unordered">
                            <li class="listItem">
                                <p class="para">
                                    el servicio;
                                </p>
                            </li>
                            <li class="listItem">
                                <p class="para">
                                    la pérdida de datos;
                                </p>
                            </li>
                            <li class="listItem">
                                <p class="para">
                                    el contenido (incluido el código) disponible en sitios web de terceros, programas de terceros o conductas de terceros a los que se tenga acceso a través del servicio;
                                </p>
                            </li>
                            <li class="listItem">
                                <p class="para">
                                    virus u otras funciones inhabilitadoras que afecten a su posibilidad de acceso para utilizar el servicio;
                                </p>
                            </li>
                            <li class="listItem">
                                <p class="para">
                                    incompatibilidad entre el servicio y otros servicios, software y hardware;
                                </p>
                            </li>
                            <li class="listItem">
                                <p class="para">
                                    retrasos o errores al iniciar o completar transmisiones o transacciones relacionadas con el servicio de manera precisa y oportuna; y
                                </p>
                            </li>
                            <li class="listItem">
                                <p class="para">
                                    reclamaciones por incumplimiento de contrato; incumplimiento de la garantía o de las condiciones; responsabilidad objetiva; responsabilidad extracontractual (incluida la negligencia o el incumplimiento de deberes estatutarios); o falsa representación.
                                </p>
                            </li>
                        </ul>
                        <p class="para">
                            <span class="ui">Ninguna cláusula de estos términos afectará a los derechos estatutarios de cualquier consumidor ni excluirá o restringirá la responsabilidad por el fallecimiento o las lesiones personales que se deriven de nuestra negligencia, fraude o nuestra negligencia grave o dolo. Algunas o la totalidad de estas limitaciones o exclusiones pueden no serle aplicables si en su país no está permitida la exclusión o limitación de daños incidentales, consecuenciales o de otro tipo.</span>
                        </p>
                    </div>
                </div>
                <div class="section sectionNormal">
                    <h2 class="title_section">11. Cambios en el servicio y cancelación</h2>
                    <div class="">
                        <p class="para">
                            <span class="ui">Trabajamos de forma constante para mejorar el servicio y podemos cambiar el servicio en ese sentido en cualquier momento y por cualquier motivo. En el caso de los servicios de pago, le notificaremos de los cambios materiales del servicio con anticipación.</span>
                        </p>
                        <p class="para">
                            <span class="ui">Podemos cancelar o suspender el servicio y su acceso a la red de <span class="notLocalizable">Windows Live</span> ID. </span>
                            Entre los motivos por los que podemos cancelarlo se incluyen la posibilidad de que dejemos de ofrecer el servicio en su región o de que usted incumpla este contrato, no inicie sesión en la red de <span class="notLocalizable">Windows Live</span>
                            ID durante un período de 90 días o no pague la cuota que debe a Microsoft o a nuestros agentes. Si su servicio se cancela, cesará inmediatamente su derecho de uso del servicio. Si cancelamos sus credenciales, finalizará inmediatamente el derecho de uso de su <span class="notLocalizable">Windows Live</span>
                            ID. La cancelación del servicio o de las credenciales no afecta a su obligación de pagar todos los cargos efectuados en su cuenta de facturación. Si cancelamos por completo el servicio sin motivo, le devolveremos la parte prorrateada de los pagos que haya realizado según la parte del servicio que ya estuviera pagada.
                        </p>
                        <p class="para">
                            Usted puede cancelar el servicio en cualquier momento y por cualquier motivo. Si se trata de un servicio de pago, pueden ser aplicables algunos cargos. Las cláusulas 6, 9–13, 14 (con relación a los importes en que se incurra antes de la resolución), 15 y aquellas que según los términos sigan siendo aplicables tras la resolución de este contrato seguirán vigentes una vez resuelto este contrato.
                        </p>
                    </div>
                </div>
                <div class="section sectionNormal">
                    <h2 class="title_section">12. Términos legales generales</h2>
                    <div class="">
                        <div class="section sectionNormal">
                            <h3 class="title_section">12.1. Interpretación del contrato</h3>
                            <div class="">
                                <p class="para">
                                    Todas las estipulaciones de este contrato se aplicarán en la máxima medida permitida por la legislación aplicable. Si un tribunal considera que una estipulación de este contrato no puede ser aplicada en la forma que está redactada, usted y Microsoft reemplazarán esos términos por unos similares que se puedan aplicar en virtud de la legislación relevante, pero el resto de este contrato no cambiará. Este contrato constituye la totalidad del acuerdo entre nosotros y usted con relación al servicio, y sustituye a cualquier contrato o declaración oral o escrita anteriores relativos al uso del servicio. Si usted tiene en vigor obligaciones de confidencialidad relativas al servicio (por ejemplo, si es un evaluador de versiones beta), dichas obligaciones permanecerán en vigor. Es posible que se apliquen otros términos cuando utilice otros servicios de <span class="notLocalizable">Microsoft</span>
                                    o pague por ellos. Los títulos de las cláusulas de este contrato no limitan sus términos. Si obtiene acceso al servicio desde Alemania, se aplica el acuerdo que encontrará en <a href="http://g.msn.de/0TO_/dede" class="navigationLink" data-id="pageContainer3_ID0EBBHBTBBA">http://g.msn.de/0TO_/dede</a>.
                                </p>
                            </div>
                        </div>
                        <div class="section sectionNormal">
                            <h3 class="title_section">12.2. Asignación y transferencia</h3>
                            <div class="">
                                <p class="para">
                                    Microsoft puede asignar o transferir sus derechos y obligaciones, o disponer de ellos, en virtud de este contrato, de forma total o parcial a cualquiera de sus filiales, en cualquier momento sin previo aviso. Usted no puede asignar este contrato ni transferir ningún derecho de uso del servicio.
                                </p>
                            </div>
                        </div>
                        <div class="section sectionNormal">
                            <h3 class="title_section">12.3. Exclusión de terceros como beneficiarios</h3>
                            <div class="">
                                <p class="para">
                                    Este contrato regula exclusivamente la relación entre usted y Microsoft para beneficio mutuo, no para beneficio de ninguna otra persona, excepto para los sucesores autorizados.
                                </p>
                            </div>
                        </div>
                        <div class="section sectionNormal">
                            <h3 class="title_section">12.4. Notificaciones</h3>
                            <div class="">
                                <p class="para">
                                    Usted puede enviarnos notificaciones según lo establecido en el área de soporte al cliente del servicio. Este contrato está en formato electrónico. Podemos enviarle información, en formato electrónico, sobre el servicio, información adicional e información que la legislación nos exija que proporcionemos. <span class="ui">Podemos proporcionarle la información correspondiente por correo electrónico a la dirección que especificó al registrarse en el servicio o mediante el acceso a un sitio web de <span class="notLocalizable">Microsoft</span> que podamos identificar. Las notificaciones que se le remitan a usted por correo electrónico se considerarán efectuadas y recibidas cuando se envíe el mensaje de correo electrónico. </span>
                                    Si no consiente recibir de manera electrónica las notificaciones, deberá dejar de utilizar el servicio.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section sectionNormal">
                    <h2 class="title_section">13. Partes contratantes, legislación y foro competente para la resolución de conflictos</h2>
                    <div class="">
                        <ul class="unordered">
                            <li class="listItem">
                                <p class="para">
                                    Si reside o la sede de su negocio se encuentra en <span class="ui">Norteamérica o Sudamérica</span>, estará estableciendo un contrato con <span class="notLocalizable">Microsoft</span>
                                    Corp., One <span class="notLocalizable">Microsoft</span>
                                    Way, Redmond, WA 98052, Estados Unidos, y las leyes del Estado de Washington regularán la interpretación de este contrato y serán aplicables a las demandas por su incumplimiento, independientemente de los principios de las normas de resolución de conflictos. Todas las demás demandas, incluidas las relacionadas con las leyes de protección del consumidor, la legislación relativa a la competencia desleal y en caso de responsabilidad extracontractual, se resolverán según las leyes de su estado de residencia en los Estados Unidos o, si reside fuera de los Estados Unidos, según la legislación del país al que dirigimos su servicio. Ambas partes, Microsoft y usted, aceptan de manera irrevocable como jurisdicción exclusiva y foro competente los tribunales estatales o federales del condado de King, Washington (EE. UU.) para resolver los conflictos derivados de este contrato o relativos a él.
                                </p>
                            </li>
                            <li class="listItem">
                                <p class="para">
                                    Si reside o la sede de su negocio se encuentra en <span class="ui">Europa</span>, estará estableciendo un contrato con <span class="notLocalizable">Microsoft</span>
                                    Luxembourg S.à.r.l., 20 Rue Eugene Ruppert, Immeuble Laccolith, 1st Floor, L-2543 Luxemburgo. Todas las demandas, incluidas las relacionadas con las leyes de protección del consumidor, la legislación relativa a la competencia desleal y en caso de responsabilidad extracontractual, se resolverán en virtud de las leyes de Luxemburgo o del país en el que usted resida. Con respecto a la jurisdicción, usted puede elegir el tribunal responsable en Luxemburgo o en el país en el que resida para  resolver los conflictos derivados de este contrato o relativos a él.
                                </p>
                            </li>
                            <li class="listItem">
                                <p class="para">
                                    Si reside o la sede de su negocio se encuentra en <span class="ui">Oriente Medio o África</span>, estará estableciendo un contrato con <span class="notLocalizable">Microsoft</span>
                                    Luxembourg S.à.r.l., 20 Rue Eugene Ruppert, Immeuble Laccolith, 1st Floor, L-2543 Luxemburgo, y las leyes de Luxemburgo regularán la interpretación de este contrato y serán aplicables a las demandas por su incumplimiento, independientemente de los principios de las normas de resolución de conflictos. Todas las demás demandas, incluidas las relacionadas con las leyes de protección del consumidor, la legislación relativa a la competencia desleal y en caso de responsabilidad extracontractual, se resolverán en virtud de las leyes del país al que Microsoft dirija su servicio. Ambas partes, usted y Microsoft, aceptan de manera irrevocable como jurisdicción exclusiva y foro competente los tribunales de Luxemburgo para resolver todos los conflictos derivados de este contrato o relativos a él.
                                </p>
                            </li>
                            <li class="listItem">
                                <p class="para">
                                    Si reside o la sede de su negocio se encuentra en <span class="ui">Japón</span>, estará estableciendo un contrato con <span class="notLocalizable">Microsoft</span>
                                    Co. Ltd (MSKK), Odakyu Southern Tower, 2-2-1 Yoyogi, Shibuya-ku, Tokio 151-8583. La legislación de Japón regulará la interpretación de este contrato y de cualquier asunto derivado de él o relacionado con él. Ambas partes, Microsoft y usted, aceptan de manera irrevocable como jurisdicción original exclusiva y foro competente los tribunales del distrito de Tokio para resolver todos los conflictos derivados de este contrato o relativos a él.
                                </p>
                            </li>
                            <li class="listItem">
                                <p class="para">
                                    Si reside o la sede de su negocio se encuentra en <span class="ui">Australia, Hong Kong, Indonesia, Malasia, Nueva Zelanda, Filipinas, Singapur, Tailandia o Vietnam</span>, estará estableciendo un contrato con <span class="notLocalizable">Microsoft</span>
                                    Operations, Pte Ltd, 1 Marina Boulevard, #22-01, Singapur 01898, y la interpretación de este contrato se regulará por la legislación de Singapur. Cualquier conflicto que surja de este contrato o relativo al mismo, incluida cualquier cuestión relativa a su existencia, validez o finalización será enviado a Singapur y finalmente resuelto mediante arbitraje según la legislación de arbitraje de Singapore International Arbitration Center (SIAC, Centro de arbitraje internacional de Singapur), cuya legislación se incorporará por referencia a esta cláusula. El Tribunal incluirá un árbitro que será elegido por el presidente de SIAC. El idioma del arbitraje será el inglés. La decisión del árbitro será final, vinculante e indiscutible y puede utilizarse como base para una sentencia en cualquier país o región.
                                </p>
                            </li>
                            <li class="listItem">
                                <p class="para">
                                    Si reside o la sede de su negocio se encuentra en <span class="ui">India</span>, estará estableciendo un contrato con <span class="notLocalizable">Microsoft</span>
                                    Regional Sales Corp.., una empresa organizada según las leyes del Estado de Nevada, EE. UU., con una sucursal en Singapur, con su sede comercial principal situada en 438B Alexandra Road, #04-09/12, Block B, Alexandra Technopark, Singapur, 119968. Las leyes del Estado de Washington regularán la interpretación de este contrato, independientemente de los principios de las normas de resolución de conflictos. Cualquier conflicto que surja de este contrato o relativo al mismo, incluida cualquier cuestión relativa a su existencia, validez o finalización será enviado a Singapur y finalmente resuelto mediante arbitraje según la legislación de arbitraje de Singapore International Arbitration Center (SIAC, Centro de arbitraje internacional de Singapur), cuya legislación se incorporará por referencia a esta cláusula. El Tribunal incluirá un árbitro que será elegido por el presidente de SIAC. El idioma del arbitraje será el inglés. La decisión del árbitro será final, vinculante e indiscutible y puede utilizarse como base para una sentencia en India o en otro sitio.
                                </p>
                            </li>
                            <li class="listItem">
                                <p class="para">
                                    Si reside o la sede de su negocio se encuentra en <span class="ui">China</span>, estará estableciendo un contrato con Shanghai <span class="notLocalizable">MSN</span>
                                    Network Communications Technology Company Limited, 10/F, Grand Gateway Block 2, No. 3 Hongqiao Road, Shanghai, China 200030, para su uso de <span class="notLocalizable">MSN</span>, <span class="notLocalizable">Bing</span>
                                    o <span class="notLocalizable">Windows Live Messenger</span>; las leyes de la RPC regularán la interpretación de este contrato con relación al uso de los servicios que haga en virtud de este contrato administrado por Shanghai <span class="notLocalizable">MSN</span>
                                    Network Communications Technology Company Limited. Para su uso de <span class="notLocalizable">MSN</span>, <span class="notLocalizable">Bing</span>
                                    o <span class="notLocalizable">Windows Live Messenger</span>
                                    en virtud de este contrato, cualquier conflicto que surja de este contrato o relativo al mismo, incluida cualquier cuestión relativa a su existencia, validez o finalización, será enviado a Hong Kong y finalmente resuelto mediante arbitraje bajo los auspicios del Hong Kong International Arbitration Centre ("HKIAC", Centro de arbitraje internacional de Hong Kong) según la legislación de arbitraje de UNCITRAL, Singapore International Arbitration Center (Centro de arbitraje internacional de Singapur), cuya legislación se incorporará por referencia a esta cláusula. Para dicho arbitraje, existirá un árbitro que será elegido por HKIAC según la legislación de arbitraje de UNCITRAL. El idioma del arbitraje será el inglés. La decisión del árbitro será final, vinculante e indiscutible y puede utilizarse como base para una sentencia en China o en otro sitio. Con respecto al uso del resto de servicios contemplados en este contrato, estará estableciendo un contrato con <span class="notLocalizable">Microsoft</span>
                                    Corp., One <span class="notLocalizable">Microsoft</span>
                                    Way, Redmond, WA 98052, Estados Unidos. Para esos servicios, las leyes del Estado de Washington regularán la interpretación de este contrato, independientemente de los principios de las normas de resolución de conflictos. La jurisdicción de los tribunales estatales o federales del condado de King, Washington (Estados Unidos) no es exclusiva.
                                </p>
                            </li>
                            <li class="listItem">
                                <p class="para">
                                    Si reside o la sede de su negocio se encuentra en <span class="ui">Corea</span>, estará estableciendo un contrato con <span class="notLocalizable">Microsoft</span>
                                    Korea, Inc., 6th Floor, POSCO Center, 892 Daechi-Dong, Kangnam-Gu, Seúl, 135-777, Corea, y la legislación de la República de Corea regulará la interpretación de este contrato. Ambas partes, Microsoft y usted, aceptan de manera irrevocable como jurisdicción original exclusiva y foro competente los tribunales del distrito de Seúl para resolver todos los conflictos derivados de este contrato o relativos a él.
                                </p>
                            </li>
                            <li class="listItem">
                                <p class="para">
                                    Si reside o la sede de su negocio se encuentra en <span class="ui">Taiwán</span>, estará estableciendo un contrato con <span class="notLocalizable">Microsoft</span>
                                    Taiwan Corp., 8F, No 7 Sungren Road, Shinyi Chiu, Taipei, Taiwán 110, y la legislación de Taiwán regulará la interpretación de este contrato. Ambas partes, Microsoft y usted, designan de manera irrevocable los tribunales del distrito de Taipei como órganos judiciales de primera instancia con jurisdicción sobre los conflictos derivados de este contrato o relacionados con él.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="section sectionNormal">
                    <h2 class="title_section">14. Si paga a <span class="notLocalizable">Microsoft</span></h2>
                    <div class="">
                        <div class="section sectionNormal">
                            <h3 class="title_section">14.1. Período de enfriamiento</h3>
                            <div class="">
                                <p class="para">
                                    Al solicitarnos un servicio, acepta que podemos empezar a proporcionárselo inmediatamente y que no tendrá derecho a una cancelación o período de "enfriamiento", salvo en los casos en que la ley exija un período de "enfriamiento" a pesar de su renuncia e incluso en el caso de que un servicio se inicie con carácter inmediato. Puede cancelar el servicio según se estipula en la cláusula 14.9.
                                </p>
                            </div>
                        </div>
                        <div class="section sectionNormal">
                            <h3 class="title_section">14.2. Cargos</h3>
                            <div class="">
                                <p class="para">
                                    Si paga por un servicio, esta cláusula 14 será de aplicación si nos realiza el pago directamente. Incluso si el servicio es gratuito, es posible que incurra en cargos aparejados al uso del servicio; por ejemplo, cargos por el acceso a Internet, mensajería de texto u otras operaciones de transmisión de datos.
                                </p>
                            </div>
                        </div>
                        <div class="section sectionNormal">
                            <h3 class="title_section">14.3. Pago</h3>
                            <div class="">
                                <p class="para">
                                    Usted debe estar autorizado para usar el método de pago especificado al crear una cuenta de facturación y, a su vez, nos autoriza a cargarle importes por el servicio mediante su método de pago <span class="ui">y por cualquier característica del servicio que requiera pago y en la que usted decida registrarse o que decida utilizar mientras este contrato esté en vigor.</span>
                                    Podemos facturarle: (a) por anticipado; (b) en el momento de la compra; (c) poco después de la compra; o (d) periódicamente por los servicios de suscripción. Asimismo, es posible que le carguemos la cantidad que haya autorizado, y le notificaremos la diferencia por adelantado de los servicios de suscripción periódicos. Puede que le facturemos simultáneamente más de uno de sus períodos de facturación anteriores. <span class="ui">Una vez que le hayamos informado de que el servicio se renovará automáticamente, podemos renovarle el servicio de forma automática y realizarle un cargo por cada plazo de renovación procedente, excepto si nos comunica que desea cancelar el acuerdo al menos un mes antes de su expiración o de la expiración de cualquier plazo de renovación o, de otro modo, de acuerdo con cómo puede que le hayamos indicado que puede realizar la cancelación.</span>
                                </p>
                            </div>
                        </div>
                        <div class="section sectionNormal">
                            <h3 class="title_section">14.4. Actualizaciones de su cuenta de facturación</h3>
                            <div class="">
                                <p class="para">
                                    Usted debe mantener actualizada toda la información especificada en su cuenta de facturación. Puede tener acceso a su cuenta de facturación y modificarla desde el sitio web de <a href="https://billing.microsoft.com" class="navigationLink" data-id="pageContainer3_ID0EDBPBPBBA">facturación y administración de cuentas</a>
                                    (https://billing.microsoft.com). Puede cambiar el método de pago en cualquier momento. Si nos indica que debemos dejar de usar su método de pago y dejamos de recibir los pagos por el servicio de pago, podemos cancelar el servicio. <span class="ui">La notificación que nos envíe no afectará a los cargos que realicemos en su cuenta de facturación antes de que pudiéramos tomar las medidas necesarias para atender su solicitud.</span>
                                </p>
                            </div>
                        </div>
                        <div class="section sectionNormal">
                            <h3 class="title_section">14.5. Ofertas de períodos de evaluación</h3>
                            <div class="">
                                <p class="para">
                                    A menos que le notifiquemos lo contrario, si participa en cualquier oferta de período de evaluación, deberá cancelar el servicio una vez terminado el período de evaluación para evitar incurrir en otros cargos. Si no cancela el servicio y le hemos informado de que dicho servicio se convertirá en una suscripción de pago cuando finalice el período de evaluación, entenderemos que nos da autorización para cargarle el importe del servicio mediante el método de pago que haya seleccionado.
                                </p>
                            </div>
                        </div>
                        <div class="section sectionNormal">
                            <h3 class="title_section">14.6. Precios y aumento de precios</h3>
                            <div class="">
                                <p class="para">
                                    El precio del servicio incluye impuestos. Usted es responsable de todos los demás cargos (por ejemplo, costes telefónicos y tasas de cambio de moneda).
                                </p>
                                <p class="para">
                                    Le notificaremos con anticipación si cambiamos el precio del servicio. Si hay establecida una duración y un precio específicos para su oferta de servicio, ese precio seguirá estando en vigor durante dicho período. Una vez finalizado el período de la oferta, se le cargará el nuevo precio correspondiente a la utilización del servicio. Si el servicio se proporciona periódicamente (por ejemplo, mensualmente) sin especificar ninguna duración, le informaremos de cualquier cambio que vayamos a realizar en el precio con al menos 30 días de anticipación. Si no acepta los cambios, deberá cancelar y dejar de utilizar el servicio antes de que surtan efecto los cambios. Si cancela su servicio, este terminará en la fecha final del período de servicio actual; o, si presentamos facturas en su cuenta de manera periódica, al final del período en que realizó la cancelación.
                                </p>
                            </div>
                        </div>
                        <div class="section sectionNormal">
                            <h3 class="title_section">14.7. Directivas de devolución</h3>
                            <div class="">
                                <p class="para">
                                    A menos que la ley o una oferta de servicio concreta estipulen lo contrario, los cargos se devengarán al recibirse y no serán reembolsables, y los costos de las operaciones de devolución correrán a su cargo.
                                </p>
                            </div>
                        </div>
                        <div class="section sectionNormal">
                            <h3 class="title_section">14.8. Factura en línea y errores</h3>
                            <div class="">
                                <p class="para">
                                    Microsoft le proporcionará una factura en línea en el sitio web de <a href="https://billing.microsoft.com" class="navigationLink" data-id="pageContainer3_ID0EBBHBPBBA">facturación y administración de cuentas</a>
                                    (https://billing.microsoft.com), donde puede ver, imprimir o solicitar una copia impresa de esta factura. Si solicita una copia en papel, es posible que le carguemos el importe del envío. Sólo proporcionamos copias impresas de facturas de los últimos 120 días. Si encuentra algún error en la factura, la corregiremos lo antes posible una vez que nos lo haya comunicado y hayamos analizado el cargo. Deberá informarnos en el plazo de 120 días desde que el error obvio aparezca por primera vez. Si no nos lo indica en ese plazo, nos exime de cualquier responsabilidad y reclamación por pérdidas derivadas de cualquier error a causa de negligencia menor; además, en dicho caso, no estaremos obligados a corregir el error. Podremos subsanar los errores de facturación en cualquier momento.
                                </p>
                            </div>
                        </div>
                        <div class="section sectionNormal">
                            <h3 class="title_section">14.9. Cancelación del servicio</h3>
                            <div class="">
                                <p class="para">
                                    Usted puede cancelar el servicio en cualquier momento, con o sin motivo. Vaya al sitio web de <a href="https://billing.microsoft.com" class="navigationLink" data-id="pageContainer3_ID0EBBFBPBBA">facturación y administración de cuentas</a>
                                    (https://billing.microsoft.com) para obtener información sobre la cancelación del servicio. Algunas ofertas de servicio pueden conllevar cargos de cancelación, tal y como se especifica en los materiales que describen la oferta. La cancelación del servicio por su parte no alterará la obligación asumida por usted de pagar todos los cargos realizados en su cuenta de facturación.
                                </p>
                            </div>
                        </div>
                        <div class="section sectionNormal">
                            <h3 class="title_section">14.10. Retrasos en los pagos</h3>
                            <div class="">
                                <p class="para">
                                    Excepto en los casos en que la ley lo prohíba, podremos aplicar un recargo por retraso si los pagos no se realizan a tiempo. Usted deberá abonar estos recargos por retraso cuando se los facturemos. El recargo por retraso será del 1% de la cantidad impagada cada mes o la máxima cantidad autorizada por la ley, lo que sea menor. Podremos encargar a terceros el cobro de las cantidades vencidas. Deberá hacer frente a todos los costos razonables que conlleve el cobro de las cantidades vencidas, que pueden incluir los honorarios razonables de abogados y otros importes y costos legales. En caso de no efectuar los pagos por completo en su momento, podremos suspender o cancelar el servicio.
                                </p>
                            </div>
                        </div>
                        <div class="section sectionNormal">
                            <h3 class="title_section">14.11. Servicio de acceso a Internet</h3>
                            <div class="">
                                <p class="para">
                                    Si el servicio no incluye el acceso a Internet, el usuario será responsable del pago de las tarifas del proveedor de acceso a Internet. Dichas tarifas son adicionales a las correspondientes al servicio. El resto de esta cláusula solo es de aplicación si su servicio incluye acceso a Internet. Es posible que este servicio no esté disponible en su país o región.
                                </p>
                                <p class="para">
                                    Si utiliza un módem de acceso telefónico, puede incurrir en cargos por llamadas a números de pago, servicios de roaming u otros cargos de acceso, en función del número al que llame y desde la ubicación desde la que llame. <span class="ui">Compruebe antes con su compañía telefónica local los cargos aplicables del número que tiene pensado utilizar.</span>
                                    Incluso si le sugerimos un número de teléfono para realizar la llamada, es posible que siga incurriendo en cargos según el proveedor local, la ubicación desde la que llama y el plan de llamadas telefónicas. <span class="ui">Microsoft no le reembolsará dichos cargos.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section sectionNormal">
                    <h2 class="title_section">15. Pagos a su favor</h2>
                    <div class="">
                        <p class="para">
                            Su derecho a recibir cualquier pago en virtud del servicio está condicionado a que nos proporcione inmediatamente toda la información que necesitemos para efectuar correctamente el pago. Deberá proporcionarnos la información exacta antes de que se devengue la cantidad que tenga derecho a percibir. El usuario es responsable de la exactitud de la información que nos facilite y de los impuestos y cargos que puedan gravar el pago. También debe cumplir todas las demás condiciones que establezcamos para poder ejercer su derecho a recibir cualquier pago. <span class="ui">Si efectuamos por error un pago a su favor, podemos anular o solicitar la devolución del mismo. Usted acepta colaborar con nosotros para ello. También podemos reducir el saldo devengado sin previo aviso para ajustar el pago en exceso anterior.</span>
                        </p>
                    </div>
                </div>
                <div class="section sectionNormal">
                    <h2 class="title_section">16. <span class="notLocalizable">Microsoft</span> Office Live</h2>
                    <div class="">
                        <p class="para">
                            Los siguientes términos se aplican a <span class="notLocalizable">Microsoft</span>
                            Office Live.
                        </p>
                        <ul class="unordered">
                            <li class="listItem">
                                <p class="para">
                                    <span class="ui">Transacciones con otros usuarios.</span>
                                    <span class="notLocalizable">Microsoft</span>
                                    puede ofrecer productos y servicios de terceros a través del servicio. En tal caso, la relación de usted con respecto a dichos productos y servicios es exclusivamente con el tercero y no con nosotros. Usted será el único responsable de sus transacciones con cualquier tercero.
                                </p>
                                <p class="para">
                                    Usted garantiza que: los productos y servicios que anuncia, vende y distribuye pueden venderse y distribuirse legalmente y que no infringen el presente contrato; cuenta con todas las licencias necesarias para vender, distribuir y anunciar los productos y servicios que ofrece; y todas las ventas y anuncios son conformes a la legislación aplicable.
                                </p>
                            </li>
                            <li class="listItem">
                                <p class="para">
                                    <span class="ui">Prácticas de privacidad.</span>
                                    Al usar el servicio, es posible que pueda recopilar información personal sobre terceros. Si fuera así, debe: publicar una directiva de privacidad en su sitio web en la que, como mínimo, informe de cualquier uso de la información personal recopilada de terceros; proporcionar un vínculo de hipertexto a su directiva de privacidad en la página principal de su sitio web y en todas las páginas en las que recopile información personal de terceros, incluidas las páginas de pago; y usar la información personal sólo de la manera permitida expresamente por su directiva de privacidad y la legislación aplicable de protección de datos.
                                </p>
                            </li>
                            <li class="listItem">
                                <p class="para">
                                    <span class="ui">Servicio de nombres de dominio</span>
                                </p>
                                <ul class="unordered">
                                    <li class="listItem">
                                        <p class="para">
                                            Si registra, renueva o transfiere un nombre de dominio a través del servicio, Microsoft le pondrá en contacto con un registrador acreditado que se encargará de registrar, renovar o transferir el nombre de dominio. Los contratos de servicio de dominio de ccTLDs y gTLDs son contratos entre usted y el registrador, y no entre usted y <span class="notLocalizable">Microsoft</span>. Como tales, es de aplicación la cláusula 16 de este contrato.
                                        </p>
                                        <p class="para">
                                            <span class="ui"><span class="notLocalizable">Microsoft</span> no controla la disponibilidad de ningún nombre de dominio que usted desee registrar o renovar y no tendrá ninguna responsabilidad con respecto al uso del nombre de dominio. Usted garantiza que cualquier nombre de dominio que registre, renueve o transfiera a través del servicio y el registrador no infringirá los derechos de terceros. </span>
                                        </p>
                                    </li>
                                    <li class="listItem">
                                        <p class="para">
                                            Excepto durante los cinco primeros días tras su suscripción al servicio, si el servicio se cancela por cualquier motivo, su nombre de dominio seguirá registrado durante su plazo anual actual, pero no apuntará a su sitio web ni funcionará con su servicio de correo electrónico.
                                        </p>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="section sectionNormal">
                    <h2 class="title_section">17. Plantillas y elementos multimedia de Office.com y Office Web App</h2>
                    <div class="">
                        <p class="para">
                            Si utiliza <span class="notLocalizable">Microsoft</span>
                            Office.com o <span class="notLocalizable">Microsoft</span>
                            Office Web Apps, es posible que tenga acceso a imágenes multimedia, imágenes prediseñadas, animaciones, sonidos, música, clips de vídeo, plantillas y otras formas de contenido ("elementos multimedia") proporcionados con el software disponible en Office.com o como parte de un servicio asociado a él. Puede copiar y usar elementos multimedia en proyectos y documentos. No está autorizado a: (a) vender, otorgar licencias ni distribuir copias de los elementos multimedia en sí mismos ni como producto si el valor principal del producto son los elementos multimedia; (b) conceder a los clientes derechos para otorgar licencias o distribuir elementos multimedia; (c) otorgar licencias ni distribuir con fines comerciales elementos multimedia que incluyen la representación de personas concretas, gobiernos, logotipos, marcas o emblemas, o usar estos tipos de imágenes de manera que pueda implicar una aprobación o asociación con el producto, entidad o actividad; ni (d) crear trabajos obscenos con elementos multimedia. Para obtener más información, consulte la página web sobre el <a href="http://www.microsoft.com/permission" class="navigationLink" data-id="pageContainer3_ID0EBBJBBA">uso de contenido cuya propiedad intelectual es de <span class="notLocalizable">Microsoft</span></a>
                            (http://www.microsoft.com/permission).
                        </p>
                    </div>
                </div>
                <div class="section sectionNormal">
                    <h2 class="title_section">18. <span class="notLocalizable">Microsoft</span> Points</h2>
                    <div class="">
                        <p class="para">
                            <span class="notLocalizable">Microsoft</span>
                            Points es un servicio mediante el cual puede conseguir Points y canjear esos Points por determinados servicios en línea y productos digitales. Podrá ver los Points de que dispone al consultar su saldo de Points en <a href="https://billing.microsoft.com" class="navigationLink" data-id="pageContainer3_ID0EBJHBBA">https://billing.microsoft.com</a>. Puede obtener servicios o productos digitales seleccionados que le ofertemos a cambio de Points. Podrá hacerlo mediante el canje de sus Points tal como se indica en el mensaje concreto correspondiente a cada oferta.
                        </p>
                        <p class="para">
                            Puede conseguir Points de diversas maneras. Por ejemplo, puede comprar Points, o bien, ciertos servicios pueden darle Points por usar el servicio o las características concretas del mismo (lo que también se conoce como "Points promocionales"). Sólo podrá conseguir Points promocionales por las acciones que complete realmente. Usted es responsable de los impuestos que puedan derivarse de su participación en el servicio Points.
                        </p>
                        <p class="para">
                            Al obtener Points, habrá obtenido una licencia limitada para un producto digital. Los Points carecen de valor monetario. No se puede obtener dinero en metálico a cambio de los Points, independientemente de cómo se hayan conseguido esos Points. Los Points no son de su propiedad. El único recurso de que dispone para utilizar los Points es obtener los servicios en línea o los productos digitales específicos que ofrecemos a cambio de Points. Además, Microsoft puede restringir las ofertas de canje de sus Puntos en función de su país de residencia. Desde Microsoft animamos a los usuarios a canjear sus Points. La existencia de una oferta concreta para el canje de Points no constituye ningún compromiso por parte de Microsoft de mantener la presentación de ofertas en el futuro. El ámbito, la variedad y el tipo de servicios en línea y productos digitales que puede obtener al canjear Points pueden variar en cualquier momento. Microsoft no tiene ninguna obligación de continuar presentando ofertas para el canje de Points.
                        </p>
                        <p class="para">
                            Los Points promocionales pueden expirar en cualquier momento, según se establezca en los mensajes relacionados con la promoción en cuestión. Microsoft puede cancelar, suspender o limitar de cualquier otra forma su acceso a su saldo de Points si sospecha de la realización de cualquier actividad fraudulenta, abusiva o ilegal en su saldo de Points. Una vez eliminados los Points de un saldo, Microsoft no los restituye, excepto a su propia discreción. Cuando Microsoft cancela, suspende o limita el acceso a su saldo de Points, su derecho a utilizar su saldo de Points finaliza inmediatamente. Microsoft llevará a cabo cualquier esfuerzo razonable para investigar los saldos de Points que estén sujetos a limitaciones de acceso y para tomar una decisión definitiva sobre dichas limitaciones a la mayor brevedad. Además, Microsoft puede limitar su uso del servicio Points, lo que incluye la aplicación de restricciones a: el número de Points de su saldo que usted puede poner en el haber de su saldo de Points de una sola vez; el número de Points que puede canjear en un período de tiempo determinado (por ejemplo, en un día); y el número de Points promocionales que puede obtener en una sola acción.
                        </p>
                        <p class="para">
                            Si Microsoft suma Points a su saldo por una actividad que posteriormente se anula, se cancela o que implica la devolución de un artículo, restará esos Points del saldo. Usted debe asegurarse de que el extracto de Points de su saldo de Points es correcto. Si cree que ha adquirido correctamente Points que no se han reflejado en su saldo de Points, esos Points no se reflejarán a menos que comunique esa situación en el plazo de 12 meses contados a partir de la fecha en que sostiene haber obtenido esos Points. Exigiremos la documentación razonable que pruebe su reclamación.
                        </p>
                    </div>
                </div>
                <div class="section sectionNormal">
                    <h2 class="title_section">19. <span class="notLocalizable">MSN</span> Video</h2>
                    <div class="">
                        <p class="para">
                            Los vídeos y el reproductor de vídeo insertable disponibles en <span class="notLocalizable">MSN</span>
                            Video son únicamente para uso personal no comercial y, a menos que se indique lo contrario, no se pueden descargar, copiar ni redistribuir sin autorización de los propietarios de los derechos. No puede emplear el reproductor de vídeo insertable en ningún sitio web cuyo fin principal sea la visualización de publicidad o la recopilación de ingresos por suscripción, o que sea competencia directa de MSN Video, sin antes obtener el consentimiento de Microsoft. Usted acepta que el empleo del reproductor de vídeo insertable podría dar lugar a la aplicación de costos, tarifas y regalías adicionales de terceros, incluidas, sin limitarse a, regalías por actuación pública en su país o región.
                        </p>
                    </div>
                </div>
                <div class="section sectionNormal">
                    <h2 class="title_section">20. Búsqueda activada por voz de <span class="notLocalizable">Bing</span> Mobile</h2>
                    <div class="">
                        <p class="para">
                            Si usa la característica de búsqueda activada por voz en la aplicación <span class="notLocalizable">Bing</span>
                            Mobile, da su consentimiento a que <span class="notLocalizable">Microsoft</span>
                            grabe y recopile su voz, que se usará para ofrecerle el servicio <span class="notLocalizable">Bing</span>
                            Mobile y mejorar nuestros productos y servicios de reconocimiento de voz. La voz se tratará según la <a href="http://go.microsoft.com/fwlink/?LinkId=74170" class="navigationLink" data-id="pageContainer3_ID0EBBDBBA">Declaración de privacidad en línea de Microsoft</a>
                            (http://go.microsoft.com/fwlink/?LinkId=74170).
                        </p>
                    </div>
                </div>
                <div class="section sectionNormal lastElement">
                    <h2 class="title_section">AVISOS</h2>
                    <div class="">
                        <div class="section sectionNormal">
                            <h3 class="title_section">Notificaciones y procedimiento para formular reclamaciones por presunta infracción de los derechos de propiedad intelectual</h3>
                            <div class="">
                                <p class="para">
                                    Las reclamaciones por infracción de derechos de propiedad intelectual deberán enviarse al agente designado de <span class="notLocalizable">Microsoft</span>. <span class="ui"><span class="phrase">LAS SOLICITUDES QUE NO ESTÉN RELACIONADAS CON EL PROCEDIMIENTO SIGUIENTE NO RECIBIRÁN RESPUESTA. Para obtener más detalles y la información de contacto, consulte la página con información sobre <a href="http://www.microsoft.com/info/cpyrtInfrg.htm" class="navigationLink" data-id="pageContainer3_ID0EBABBNBBBBA">notificaciones y procedimiento para formular reclamaciones por presunta infracción de los derechos de propiedad intelectual</a> (http://www.microsoft.com/info/cpyrtInfrg.htm). </span></span>
                                </p>
                            </div>
                        </div>
                        <div class="section sectionNormal">
                            <h3 class="title_section">Avisos de derechos de autor y marcas</h3>
                            <div class="">
                                <p class="para">
                                    Todo el contenido del servicio está protegido por derechos de autor: Copyright © 2010 <span class="notLocalizable">Microsoft</span>
                                    Corporation y/o sus proveedores, One <span class="notLocalizable">Microsoft</span>
                                    Way, Redmond, WA 98052, EE. UU. Reservados todos los derechos. Microsoft o sus proveedores son titulares de la propiedad, los derechos de autor y demás derechos de propiedad intelectual e industrial sobre el servicio y el contenido. <span class="notLocalizable">Microsoft</span>, <span class="notLocalizable">Windows</span>, <span class="notLocalizable">Windows Live</span>, el logotipo de <span class="notLocalizable">Windows</span>, <span class="notLocalizable">MSN</span>, el logotipo de <span class="notLocalizable">MSN</span>
                                    (mariposa), <span class="notLocalizable">Bing</span>
                                    y otros productos y servicios de <span class="notLocalizable">Microsoft</span>
                                    pueden ser marcas comerciales o marcas registradas de <span class="notLocalizable">Microsoft</span>
                                    en los Estados Unidos y/o en otros países. Los nombres de compañías y productos reales pueden ser marcas comerciales de sus respectivos propietarios. Quedan reservados los derechos que no se conceden expresamente en este contrato. Determinado software utilizado en ciertos servidores de sitios web de <span class="notLocalizable">Microsoft</span>
                                    está en parte basado en el trabajo de Independent JPEG Group. Copyright © 1991–1996 Thomas G. Lane. Reservados todos los derechos. El software "gnuplot" utilizado en algunos servidores de sitios web de <span class="notLocalizable">Microsoft</span>
                                    está protegido por derechos de autor: Copyright © 1986–1993 Thomas Williams, Colin Kelley. Reservados todos los derechos.
                                </p>
                            </div>
                        </div>
                        <div class="section sectionNormal">
                            <h3 class="title_section">Cotizaciones de bolsa y datos de índice (incluidos valores de índice)</h3>
                            <div class="">
                                <p class="para">
                                    Toda la información proporcionada por Interactive Data Corporation ("IDC") y sus filiales (la "Información de IDC") que se incluye en el servicio pertenece o se ha dado licencia a IDC y sus filiales. Usted puede guardar, manipular, analizar, cambiar el formato, imprimir y mostrar la Información de IDC únicamente si es para su uso personal. No puede publicar, retransmitir, redistribuir o reproducir de alguna otra forma cualquier Información de IDC en cualquier formato ni tampoco puede usar la Información de IDC en relación con ninguna actividad empresarial o comercial, incluidas, sin limitarse a, empresas o negocios de valores, inversiones, contabilidad, actividades bancarias, jurídicas o de medios de comunicación. Antes de ejecutar cualquier transacción de valores basada en la Información de IDC, es aconsejable consultar a su agente de bolsa o cualquier otro representante financiero para comprobar la información sobre precios. Ni IDC, ni sus filiales ni sus licenciantes serán responsables ante ningún usuario ni ante ninguna otra persona por la interrupción, imprecisión, retraso, error u omisión, sea cual sea el motivo, en la Información de IDC, ni por ningún daño (ya sean directos o indirectos, consecuenciales, punitivos o ejemplares) que de ella puedan resultar.
                                </p>
                                <p class="para">
                                    No puede usar ninguno de los índices Dow Jones, ni datos de índice, ni las marcas Dow Jones en relación con la emisión, creación, patrocinio, comercio, marketing o promoción de los instrumentos financieros o productos de inversión (por ejemplo, productos derivados y estructurados, fondos de inversión, fondos negociables en bolsa, carteras de inversión, etc., donde el precio, la devolución o el rendimiento del instrumento o producto de inversión se basa, está relacionado o está diseñado para realizar un seguimiento de cualquiera de los índices o un representante de cualquiera de dichos índices) sin un acuerdo por escrito e independiente con Dow Jones.
                                </p>
                            </div>
                        </div>
                        <div class="section sectionNormal">
                            <h3 class="title_section">Control parental</h3>
                            <div class="">
                                <p class="para">
                                    Microsoft ofrece protecciones de control parental que le ayudarán a limitar el acceso a material inapropiado para los menores. Para obtener más información sobre estas protecciones, visite el sitio web de <a href="http://www.staysafe.org" class="navigationLink" data-id="pageContainer3_ID0EBBHBBBBA">seguridad en línea de <span class="notLocalizable">Microsoft</span></a>
                                    (http://www.staysafe.org) o sitios web similares que ofrezcan información sobre las protecciones de control parental.
                                </p>
                            </div>
                        </div>
                        <div class="section sectionNormal">
                            <h3 class="title_section">Aviso financiero</h3>
                            <div class="">
                                <p class="para">
                                    <span class="notLocalizable">Microsoft</span>
                                    no es agente ni intermediario financiero en bolsa, ni asesor de inversiones registrado, según la legislación bursátil federal de los Estados Unidos o de otras jurisdicciones, y no asesora a las personas físicas sobre lo aconsejable de invertir en bolsa, adquirir o vender valores u otros productos o servicios financieros. Nada de lo contenido en el servicio constituye una oferta o solicitud para comprar o vender ningún activo financiero. Ni <span class="notLocalizable">Microsoft</span>
                                    ni sus licenciantes de cotizaciones bursátiles o datos de índice promocionan ni recomiendan ningún producto o servicio financiero concreto. Nada de lo contenido en el servicio está pensado para constituir asesoramiento profesional, tal como, por ejemplo, el asesoramiento en inversiones o en asuntos fiscales.
                                </p>
                            </div>
                        </div>
                        <div class="section sectionNormal">
                            <h3 class="title_section">Aviso sobre el estándar visual H.264/AVC y el estándar de vídeo VC-1</h3>
                            <div class="">
                                <p class="para">
                                    El software puede incluir tecnología de descodificación H.264/MPEG-4 AVC y/o VC-1. MPEG LA, L.L.C. requiere la inclusión del siguiente aviso:
                                </p>
                                <p class="para">
                                    LA LICENCIA DE ESTE PRODUCTO SE CONCEDE A TENOR DE LAS LICENCIAS DE LA CARTERA DE PATENTES DE AVC Y VC-1 PARA USO PERSONAL Y NO COMERCIAL POR PARTE DE UN CONSUMIDOR PARA (A) CODIFICAR VÍDEO CONFORME A LOS ESTÁNDARES MENCIONADOS ("ESTÁNDARES DE VÍDEO) O (B) DESCODIFICAR VÍDEO AVC Y VC-1 QUE HAYA SIDO CODIFICADO POR UN CONSUMIDOR QUE EJERZA UNA ACTIVIDAD PERSONAL NO COMERCIAL U OBTENIDO DE UN PROVEEDOR DE VÍDEO CON LICENCIA PARA PROPORCIONAR DICHO VÍDEO. NINGUNA DE LAS LICENCIAS SE APLICA A OTRO PRODUCTO INDEPENDIENTEMENTE DE SI DICHO PRODUCTO SE INCLUYE EN ESTE SOFTWARE EN UN ÚNICO ARTÍCULO. NO SE OTORGA NINGUNA OTRA LICENCIA PARA CUALQUIER OTRO USO, NI SE DEBE PRESUPONER SU OTORGAMIENTO. SE PUEDE OBTENER INFORMACIÓN ADICIONAL DE MPEG LA, L.L.C. CONSULTE <a href="http://www.mpegla.com" class="navigationLink" data-id="pageContainer3_ID0EBDDBBBBA">http://www.mpegla.com</a>.
                                </p>
                                <p class="para">
                                    Para aclarar la situación, este aviso no limita ni impide el uso del software proporcionado según este acuerdo para usos empresariales normales que son personales para esa empresa que no incluyan (a) la redistribución del software a terceros, o (b) la creación de contenido con las tecnologías compatibles con los ESTÁNDARES DE VÍDEO para la distribución a terceros.
                                </p>
                            </div>
                        </div>
                        <div class="section sectionNormal lastElement">
                            <h3 class="title_section">Soporte</h3>
                            <div class="">
                                <p class="para lastElement">
                                    El soporte técnico no se ofrece con el servicio, a no ser que el material publicado en relación con un servicio concreto especifique que se incluye.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
