<div style="text-align:center;">
     <!--%= image_tag "servicioEmpresas.gif" %-->
    <div id="titu">
      <p>SERVICIOS EXCLUSIVOS PARA EMPRESAS</p>
     </div>
</div>
<div id="Empresas">
    <div class="cabecera">
        <p>
            ¿Tienes una empresa? ¿Quieres expandirte online? En tal caso, has encontrado el aliado perfecto: nosotros.
        </p>
        <p>
            En ahiteveo.com ofrecemos servicios especiales para empresas que desarrollan todo o parte de su negocio a través de internet. 
            También disponemos de herramientas exclusivas para empresas que quieren iniciar su andadura en la red de redes. 
        </p>
        <p>
            ¡Descubre lo que ahiteveo.com puede hacer por tu negocio!
        </p>
    </div>
    <h1>¿Qué ventajas tengo por ser colaborador de ahiteveo.com?</h1>
    <h2>1. Tarifa plana de anuncios</h2>
    <p>
        ¡Como lo oyes! Todos nuestros colaboradores pueden publicar cada mes tantos anuncios como quieran
    </p>
    <h2>2. Anuncios sin caducidad</h2>
    <p>
        Los promociones publicados por los colaboradores de ahiteveo.com no tienen caducidad, así que permanecen publicados en el portal por 
        tiempo indefinido
    </p>
    <h2>3. Tienda Virtual</h2>
    <p>
        Si tu empresa no dispone de sitio web ¿te gustaría contar con tu propio espacio de vendedor dentro de ganga.es? Ahora es posible con 
        nuestro servicio de Tienda Virtual
    </p>
    <h2>4. Importación de productos mediante XML</h2>
    <p>
        Ofrecemos la posibilidad de trasladar todos tus artículos desde tu tienda (o desde el portal en el que te anuncies) 
        automáticamente a ahiteveo.com mediante un script personalizado
    </p>
</div>
 <%= button_to "Regístrese ya su empresa", :controller => "empresas", :action => "newempresa"  %> 
