/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/*mensajes flash de error o validez*/
#flash_notice, #flash_error, #flash_alert {
    padding: 5px 8px;
    margin: 10px 0;
}

#flash_notice {
    background-color: #CFC;
    border: solid 1px #6C6;
}

#flash_error, #flash_alert {
    background-color: #FCC;
    border: solid 1px #C66;
}

form label {
    display: block;
    margin-bottom: 2px;
}

form .field, form .actions {
    margin: 12px 0;
}

.fieldWithErrors {
    display: inline;
}

.error_messages {
    width: 99%;
    border-bottom: 1px solid #CF0000;
    border-top: 1px solid #CF0000;
    padding: 0px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    font-size: 12px;
}

.error_messages h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 12px;
    margin: 0;
    background-color: #FCC;
    color: #000000;
}

.error_messages p {
    margin: 8px 10px;
}

.error_messages ul {
    margin: 15px 0;
    color: red;
    font-family: arial;
}

/* fin de mensajes */
/* botones
 
 */
.button {
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 7px;
    text-decoration: none;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-box-shadow: 1px 1px 16px #ffffff;
    -moz-box-shadow: 1px 1px 16px #ffffff;
    text-shadow: 1px 1px 3px #666666;
    border: solid #fafafa 3px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#42aaff), to(#003366));
  background: -moz-linear-gradient(top, #42aaff, #003366);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#42aaff, endColorStr=#003366);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#42aaff, endColorStr=#003366);
  display:inline-block; /* IE is so silly */
}
.button:hover {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#999999), to(#000000));
  background: -moz-linear-gradient(top, #999999, #000000) ;
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#42aaff, endColorstr=#003366);

}
 
/*fin de botones*/
 #formlogin{
 	width:450px;

 }

.form-required{
	color:red;
	
} 
 

 #Empresas div.cabecera{border:1px dashed #0589c2;background:#eaeef6;width:600px;margin-left:auto;margin-right:auto;margin-top:20px}
 #Empresas div.cabecera P{margin:25px;text-align:justify;line-height:25px}
 
 
 #Empresas{font-size:10pt;margin-bottom:20px}
 #Empresas H1{text-align:left;color:#2a3d4b;font-size:13pt;margin:50px}
#Empresas H2{font-size:12pt;color:#0589c2;border-left:5px solid #0589c2;border-bottom:1px dashed #0589c2;padding-left:5px;margin-left:75px}
#Empresas P{margin:30px 30px 30px 110px;text-align:justify;line-height:17px}