
* {
    margin: 0;
	padding: 0;
}

body {
	
     background: url('../../images/body.png') scroll 0 0 no-repeat   rgba(100,100,100,0.65) ;
	
	margin: 0px;
    /*background-repeat: no-repeat-x;
	background-repeat: no-repeat-y;
    */background-attachment: fixed;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
/*	
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.15) 49%, rgba(0,0,0,0.6) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(49%,rgba(0,0,0,0.15)), color-stop(100%,rgba(0,0,0,0.6))); 
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.15) 49%,rgba(0,0,0,0.6) 100%); 
background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.15) 49%,rgba(0,0,0,0.6) 100%); 
background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.15) 49%,rgba(0,0,0,0.6) 100%); 
background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.15) 49%,rgba(0,0,0,0.6) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#99000000',GradientType=0 ); 
*/
}

header {
    background: #efc5ca; /* Old browsers */
    background: -moz-linear-gradient(top, #efc5ca 0%, #ba2737 92%, #f18e99 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efc5ca), color-stop(92%,#ba2737), color-stop(100%,#f18e99)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #efc5ca 0%,#ba2737 92%,#f18e99 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #efc5ca 0%,#ba2737 92%,#f18e99 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #efc5ca 0%,#ba2737 92%,#f18e99 100%); /* IE10+ */
    background: linear-gradient(to bottom, #efc5ca 0%,#ba2737 92%,#f18e99 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc5ca', endColorstr='#f18e99',GradientType=0 ); /* IE6-9 */
    display: inline-block;
    width: 100%;
    margin-top: 2%;
    border-radius: 1%;
}

nav {
    margin-top: 2%;
    width: 99%;
}

li {
    list-style: none;
}

nav ul {
    border-radius: 3px;
    display: block;
    font-size: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0px 5px 0px;
}

nav ul li a {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
    width: 12%;
    color: #000;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    height: 25px;
    border-radius: 20%;
    font-size: 12px;
    vertical-align: bottom;
    line-height: 15px;
    padding-top: 8px;
}

nav ul li a:hover {
    background: rgb(252,255,244); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(252,255,244,1) 0%, rgba(223,229,215,1) 51%, rgba(179,190,173,1) 87%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(51%,rgba(223,229,215,1)), color-stop(87%,rgba(179,190,173,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 51%,rgba(179,190,173,1) 87%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 51%,rgba(179,190,173,1) 87%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 51%,rgba(179,190,173,1) 87%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 51%,rgba(179,190,173,1) 87%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */
    border-radius: 20%;
    box-shadow: 0px 0px 4px 2px #000;
    color: #000;
}


#pie {
    margin: 20px 0px 0px 0px;
    width: 100%
}

footer {
    list-style: none;
    background: #efc5ca; /* Old browsers */
    background: -moz-linear-gradient(top, #efc5ca 0%, #ba2737 92%, #f18e99 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efc5ca), color-stop(92%,#ba2737), color-stop(100%,#f18e99)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #efc5ca 0%,#ba2737 92%,#f18e99 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #efc5ca 0%,#ba2737 92%,#f18e99 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #efc5ca 0%,#ba2737 92%,#f18e99 100%); /* IE10+ */
    background: linear-gradient(to bottom, #efc5ca 0%,#ba2737 92%,#f18e99 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc5ca', endColorstr='#f18e99',GradientType=0 ); /* IE6-9 */
    border-radius: 1%;
    margin-bottom: 1%;
    height:100px;
}
footer #men{
  margin-top: 2%;
}
footer a {
    text-decoration: none;
    text-transform: uppercase;
    display: inline;
    text-align: center;
    color: #ffffff;
    font-size: 11px;
}
span{
    font-family: bold;
    font-size: 15px;
    text-align: center;
}
#todo {
    width: 1000px;
    margin: 0px auto;
}

#login {
    margin: 10px 0px 0px 200px;
    padding: 0px 20px;
    width: 50%;
    margin-top: -65px;
}

#titulo h1 {
    margin: 35px auto 0px;
    text-shadow: 2px 5px 2px rgba(255, 255, 255, .9);
}

#logo {
    margin: 2%;
}

#logo, #titulo, #login {
    float: left;
}

#conten2 {
	background: rgba(0,0,0,0.15);
   /* background: rgba(0,0,0,0.65) lightgray;
    */display: inline-block;
    width: 99%;
    margin: auto;
	border-radius: 10px;
	border-radius-color:red;
	border-style :solid;
	border:10px;
	
}

#menu2,#menu3, #contenempresas {
   display:inline-table;
}

#menu2 {
    
}
#menu3 {
    
}

#contenempresas {
    background-color: #DDD;
    text-align: center;
    width: 68%;
}
 /*inicio cuerpo*/
#cuerpoprincipal{
	padding:10px;
	margin: auto 15px;
	background-color: #f9f9f9;
	border-radius: 7px;
	border-radius-color:red;
}
#slogan{
    margin-top: 5%;
    display: inline-table;
    text-align: center;
}
#slogan p{
    color: #ffffff;
    font-family:cursive ;
    font-size: 125%;
}
 /*fin de cuerpo*/

.label {
    border-top-right-radius: 100px 100px;
    color: #000;
    width: 100px;
}

.input {
    border: #000 solid 2px;
    border-radius: 5px;
}